.tmenu_item_icon+.tmenu_item_text,
.tmenu_indicator_icon, .tmenu_indicator_icon svg { 
  color: #ffffff !important;
}
.tmenu_item_icon > svg path {
  fill: #ce0000 !important;
}
.tmenu-watermark>span, .tmenu-watermark>a { visibility: hidden !important; }
.tmenu_item_link { color: #000000; }
.custom-sub-menuu > ul.tmenu_submenu {
    -webkit-box-shadow: inset 0 0 0 1px #000000, 0 5px 20px rgba(0, 0, 0, .15) !important;
    box-shadow: inset 0 0 0 1px #000000, 0 5px 20px rgba(0, 0, 0, .15) !important;
}