.tmenu_item_icon+.tmenu_item_text,
.tmenu_indicator_icon, .tmenu_indicator_icon svg { 
  color: #ffffff !important;
}
.tmenu_item_icon > svg path {
  fill: #ce0000 !important;
}
.tmenu-watermark>span, .tmenu-watermark>a { visibility: hidden !important; }
.tmenu_item_link { color: #000000; }
.custom-sub-menuu > ul.tmenu_submenu {
    -webkit-box-shadow: inset 0 0 0 1px #000000, 0 5px 20px rgba(0, 0, 0, .15) !important;
    box-shadow: inset 0 0 0 1px #000000, 0 5px 20px rgba(0, 0, 0, .15) !important;
}

/* Custom Product Template Buttons CSS */
#custom-buttons {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  margin-top: 32px;
}
.whatsapp-button {
  background-color: #0f9b43;
}
.whatsapp-button svg, .email-button svg {
  fill: #fff;
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.whatsapp-button, .email-button {
  color: #ffffff;
  font-family: Righteous;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.email-button {
  background-color: #0a0439;
}
.whatsapp-button:hover, .email-button:hover {
  transform: scale(1.05);
}

/* Custom Two Image Column Section CSS Starts Here */
.two-image-columns {
  display: flex;
  position: relative;
  max-width: 100%;
  width: 100%;
}
.two-image-columns .two-image-col--inner-container {
  max-width: 50%;
  width: 100%;
  position: relative;
  aspect-ratio: 1/1;
}
.two-image-columns .two-image-col--inner-container > img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}
.tic-inner-text--container {
  position: absolute;
  text-align: center;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tic-inner-text--container .text-contents {
  padding: 10px 20px;
  max-width: calc(100% / 2);
  width: 100%;
  background-color: #410202;
  opacity: 0.8;
}
.tic-inner-text--container .text-contents > p {
  font-size: 24px;
  margin: 10px;
}
.tic-inner-text--container .text-contents > p, .tic-inner-text--container .text-contents > h2, .tic-inner-text--container .text-contents > a {
  color: #ffffff;
}
@media (max-width: 749px) {
  .two-image-columns {
    flex-direction: column;
  }
  .two-image-columns .two-image-col--inner-container {
    max-width: 100%;
  }
}